@import "../variables.module.scss";


.sectionRoom{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: $light-green;
    height:580px;
    margin-top: 135px;
}
.textBox{ 
    width: 600px;
    padding-top: 138px;
    padding-left: 150px;
}
.title{
    font-family: $display;
    font-size: 36px;
    padding-bottom: 18px;
} 
.hrRoom{  
    width: 63px;
    height: 3px;
    background: $light-green;
    position: relative;
    border: none;
}
.subTitle{
    padding-top: 24px;
}
.carouselBox{
  padding-top: 109px;
} 
.highLight{
    display: flex;
    justify-content: center;
    background: linear-gradient($light-green, $white);
}
